@page "/addcalendarreminder"

@using notifyme.server.Shared.Manage_Notifications
@using notifyme.shared.ViewModels.CreateNotification
@using notifyme.server.Components

@inject CreateCalendarNotificationViewModel  _createCalendarNotifVm;
@inherits BaseMVVMComponent
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<div style="width: 100%">
    <MudPaper Class="pa-8 mt-5">
        <AddCalendarNotificationForm CalendarNotification="@_createCalendarNotifVm.CalendarNotification" OnSubmit="@HandleSubmit" />
    </MudPaper>
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        BindViewModelToLifeCycle(_createCalendarNotifVm);
        return base.OnInitializedAsync();
    }

    private async Task HandleSubmit()
    {
        var savedNotification = await _createCalendarNotifVm.SaveNotification();
        if (savedNotification)
        {
            Snackbar.Add("Notification Saved", Severity.Success, (config) => { config.CloseAfterNavigation = true; });
        }

    }
}