@page "/"
@using notifyme.shared.ViewModels.CreateNotification
@using notifyme.shared.ViewModels
@using notifyme.server.Components
@using notifyme.server.Shared.Manage_Notifications
@using notifyme.server.Shared.Manage_Subscriptions
@inject CreateQuickNotificationViewModel  _createNotifVm;
@inject RegisterNotificationSubscriptionViewModel _subToNotifVm;
@inherits BaseMVVMComponent
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<div style="width: 100%">
    <MudPaper Class="pa-8 mt-5">
        <AddNotificationForm NewNotification="@_createNotifVm.QuickNotification" OnSubmit="@HandleSubmit"></AddNotificationForm>
    </MudPaper>
</div>

<AddSubscription ViewModel="@_subToNotifVm"></AddSubscription>

@code {
    protected override Task OnInitializedAsync()
    {
        BindViewModelToLifeCycle(_createNotifVm);
        return base.OnInitializedAsync();
    }

    private async Task HandleSubmit()
    {
        var savedNotification = await _createNotifVm.SaveNotification();
        if (savedNotification)
        {
            Snackbar.Add("Notification Saved", Severity.Success, (config) => { config.CloseAfterNavigation = true; });
        }
    }
}
